@media (min-width: 768px) {
    #menu { display: none; }

    nav { flex-direction: row; justify-content: center; }

    .navigation { display: flex; flex-direction: row; }
    .navigation li { flex: 1 1 auto; }

    .gallery { 
        grid-template-columns: repeat(3, 1fr); 
    }
}